
.container1{
    max-width: 1000px;
    width: 100%;
    justify-content: space-between;
    text-align: center;
    display: flex;
    margin: auto; 
    padding: 20px 0;
  }
.header{
    border-bottom: 1px solid black;
}
.item{
    display: flex;
    justify-content: space-between;
}
.about{
    margin-left: 10px;
}
.aboutlink{
    text-decoration: none;
    color: black;
}
